{% extends 'base.html' %}
{% block content %}

<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Abput Us...</h1>
            <p class="lead fw-normal text-white-50 mb-0">Welcome to something ....</p>
        </div>
    </div>
</header>

<div class="container">
    <div class="row">
        <center>
            <div class="col-8">
                <p align="justify-content-center">
                <br>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut quis eleifend eros. Nunc iaculis sem quis nisi fermentum, in pellentesque mi luctus. Nulla sollicitudin faucibus maximus. Aenean feugiat pretium elementum. Nam eleifend, metus nec bibendum ultricies, sem turpis gravida lectus, ut lacinia nunc quam vitae metus. Mauris mauris magna, suscipit eu dapibus quis, malesuada a erat. Etiam rutrum laoreet turpis, sit amet luctus neque interdum non.
                <br></br>
                Curabitur nec dignissim lacus. Aenean malesuada congue ante a viverra. Sed facilisis ligula orci, a consequat massa luctus at. Nam et orci ut nibh ultricies dignissim. Aliquam tincidunt sem vitae lorem fermentum, nec iaculis ipsum luctus. Suspendisse non cursus leo, nec rhoncus dolor. Ut pharetra ac enim eu hendrerit. Nam accumsan mi et semper lobortis. Suspendisse tellus nulla, feugiat vel magna id, fermentum porta turpis. Nullam consequat urna id laoreet commodo.
                <br></br>
                Curabitur id tellus nibh. Mauris elementum aliquam erat, et dictum purus auctor vitae. Ut hendrerit rutrum orci, at dignissim augue pulvinar auctor. Nunc vitae ullamcorper sapien. Fusce lobortis ipsum vitae tellus bibendum, id euismod tellus convallis. Curabitur auctor est quam, id suscipit nibh euismod pharetra. Proin cursus lorem ipsum. Curabitur ac erat turpis. Phasellus quis nisl tortor. Sed nec laoreet neque, vel laoreet neque. Vestibulum lacus diam, pellentesque ac volutpat nec, convallis at libero.
                <br></br>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut quis eleifend eros. Nunc iaculis sem quis nisi fermentum, in pellentesque mi luctus. Nulla sollicitudin faucibus maximus. Aenean feugiat pretium elementum. Nam eleifend, metus nec bibendum ultricies, sem turpis gravida lectus, ut lacinia nunc quam vitae metus. Mauris mauris magna, suscipit eu dapibus quis, malesuada a erat. Etiam rutrum laoreet turpis, sit amet luctus neque interdum non.
                <br>
                </p>
            </div>
        </center>
    </div>
</div>

{% endblock %}